.bell-move {
    animation: moveBell 2s ease-in-out;
}

.spiral-effect {
    /* Add effect to the spiral logo */
    filter: drop-shadow(0 0 10px #fff);
    animation: spinSpiral 2s ease-in-out forwards; /* Apply the animation */
}

@keyframes moveBell {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px); /* Move the bell logo up */
    }
    /* 75%{
        transform: translateX(-50px);
    } */
    100% {
        transform: translateX(0);
    }
}


@keyframes spinSpiral {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(270deg);
    }
    
    100% {
        transform: rotate(0deg); /* Rotate the spiral logo */
    }
}