.bell-move {
    animation: moveBell 2s ease-in-out;
}

.spiral-effect {
    filter: drop-shadow(0 0 10px #fff);
    animation: spinSpiral 2s ease-in-out forwards; 
}


@keyframes moveBell {
    0%,100% {
        scale: 1;
    }
    50%{
        scale: 1.2;

    }

}


@keyframes spinSpiral {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(270deg);
    }
    
    100% {
        transform: rotate(0deg); 
    }
}